.Todos {
  position: absolute;

  top: 62%;
}

.Todos .container ul {
  list-style: none;
  display: inline-block;
}

.Todos ul li {
  padding-bottom: 0.5em;
}

.Todos ul li .checkbox {
  margin-right: 0.8em;
  display: inline-block;
}